<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="layout">
    <head>
        <link rel="stylesheet" href="style.css" type="text/css"/>

        <title></title>

    </head>
    <body>
        <div layout:fragment="content">

             
                <div class="row">
                    <h2><a th:text="${task.taskname}" th:href="@{'/task-details'(id=${task.id})}"></a></h2>
                </div>
                <div class="row">
                    <p class="alert alert-dark" th:text="${task.description}"></p>
                </div>
                <div  class="row alert alert-success">
                    <ul>
                        
                        <li th:each="s : ${submissions}">
                            <span>user:  </span><span  th:text="${s.username}"></span> - 
                            <span>date: </span><span  th:text="${s.subdate}"></span> - 
                            <span>solve: </span><span  th:text="${s.solve}"></span>
                        </li>
                    </ul>

                </div>
        </div>
    </body>
</html>